body {
  font-family: Arial, Helvetica, sans-serif;
}

header {
  display: flex;
  align-items: center;
  height: 5em;
  color: white;
  background-color: mediumturquoise;
  padding: 0.5em;
}

header h1 {
  margin: 0;
}

button.btn-link {
  font-size: 1.2em;
  font-weight: bold;
}

ul.list-group {
  width: 50%;
  margin-left: 2em;
}

.card-body h4 {
  margin-left: 0.8em;
}

li.list-group-item {
  display: flex;
  justify-content: space-between;
}

a.btn-info {
  margin-left: 2em;
}

.btn-primary {
  margin: 1em;
}

div.card-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 35em;
}

div.card-header span,
.list-group-item span {
  display: flex;
  align-items: center;
}

div.card-header span input[type='submit'],
.list-group-item input[type='submit'] {
  margin: 0 0.2em;
  padding: 0.2em;
}

div.form-group {
  display: flex;
  align-items: center;
}
#add-quote-frm {
  margin-top: 3em;
  padding-left: 2em;
}

#add-quote-frm > div {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 34em;
  background-color: gainsboro;
  border: 1px solid lightgrey;
  padding: 0.3em 1em;
}

#add-quote-frm .form-group {
  flex-grow: 3;
}

.quote-update-frm {
  visibility: hidden;
}

.edit-quote {
  margin-left: 2em;
  width: 20em;
}
